.carousel-item{
	height: 100vh;
	background-position: center;
    background-size: cover;
}

.background1{
	background-image: url('assets/image/backgrounds/bg1.jpg');
}

.background2{
	background-image: url('assets/image/backgrounds/bg2.jpg');
}

.background3{
	background-image: url('assets/image/backgrounds/bg3.jpg');
}

.skill{
	margin-top: 20px;
}

#aboutme{
	background-image: url('assets/image/bio/bg.png');
	background-repeat: no-repeat;
	background-size: 700px;
	background-position-x: center;
	background-position-y: top;
}